.card{
    z-index: 2;
    background-color: #fff;
    color: hsl(0, 0%, 17%);
    padding: 1.5em 4em;
    text-align: center;
    border-radius: 15px;
    box-shadow: 10px 10px 35px rgba(0,0,0, .28);
}

.label{
    font-size: .625rem;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 700;
    color: hsl(0, 0%, 59%);
    margin-bottom: .5em;
}

.data{
    font-weight: 700;
    margin-bottom: 1em;
}

.data:last-child{
    margin-bottom: 0;
}

@media(min-width: 900px){
    .card{
        display: flex;
        /* gap: 1em; */
        padding: 2em;
    }

    .col{
        text-align: left;
        padding: 0 3em 0 1em;
        border-right: 1px solid hsl(0, 0%, 59%);
        
    }

    .col:last-child{
        border: none;
    }
}